# Maven target directory
/target/

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
.project
.classpath
.settings/

# VS Code
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Reports & outputs
allure-results/
allure-report/
test-output/

# Temporary files
*.tmp
*.swp

